/* Base styles */
body {
  font-family: "Archivo", sans-serif;
  /* background-color: #011627; */
}

/* Center align the content */
.textCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Styling for the JSON data box */
.dataBox {
  margin-top: 20px;
  /* text-align: center; */
}

/* Button styles */
.actionButton {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  /* width: 140px; */
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #81c5bb;
  color: #011627;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #011627;
  color: #c19ad8;
  box-shadow: 0 0 15px #c19ad8;
}

/* Input box styles */
.inputBox {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-color: #c19ad8;
  border-radius: 10px;
  width: 100%; /* Adjust the width to fill the container */
  box-sizing: border-box;
  text-align: center;
}

.inputBox:focus {
  outline: none;
  box-shadow: 0 0 10px #c19ad8;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* Adjust the height as needed */
}

/* Box containing the form */
.box {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #011627;
  width: 90%; /* Responsive width */
  max-width: 900px; /* Maximum width for larger screens */
  overflow: auto; /* Enable scrolling when content exceeds max-height */
}

/* Additional styling */
.layoutTable {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap */
}

.leftColumn,
.rightColumn {
  width: 100%; /* Set width for both columns to take full width on smaller screens */
}

/* Updated style for newslettersContainer */
.newslettersContainer {
  height: 510px; /* Adjusted height */
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  background-color: #011627;
  max-height: 100%; /* Responsive max-height */
  overflow: auto; /* Enable scrolling when content exceeds max-height */
  margin-top: 20px;
  margin-left: 20px; /* Added margin */
  flex: 1; /* Allow the container to fill available space */
  box-shadow: 0 0 10px #81c5bb;
}

/* Custom scrollbar */
.newslettersContainer::-webkit-scrollbar {
  width: 12px;
}

.newslettersContainer::-webkit-scrollbar-thumb {
  background-color: #c19ad8;
  border-radius: 50px;
  border: 3px solid #c19ad8;
}

.json-view {
  font-size: 13px;
  font-family: "JetBrains Mono";
}

h2 {
  font-size: 19px;
}

.responseText {
  font-size: 13px;
  font-family: "JetBrains Mono";
  text-align: center;
}

.toast-success {
  font-family: "JetBrains Mono";
  color: #81c5bb;
  font-size: 15px;
}

.toast-error {
  font-family: "JetBrains Mono";
  color: #c19ad8;
  font-size: 15px;
}

/* Responsive media query for smaller screens */
@media screen and (max-width: 600px) {
  .box {
    width: 90%; /* Adjust for smaller screens */
    max-width: 90%; /* Max width for smaller screens */
  }
  .newslettersContainer {
    height: 480px; /* Adjust height for smaller screens */
    max-height: 90%; /* Max height for smaller screens */
  }
}
